# Byte-compiled / optimized / DLL files
*/__pycache__/
*__pycache__/
__pycache__/
*.py[cod]
*$py.class
*.pyc

# VS-Code
*.code-workspace
*.notebook
*.vscode/
*logs/
*log/
*ckpt/
*.egg-info
assets/
*tmp*
result/
outputs/
*.hydra/
*dependencies/
*test/